<?xml version="1.0"?>

<launch>

    <!-- Run the armor_service node -->
    <node name = "armor_service" 
          pkg="armor" 
          type = "execute" 
          args="it.emarolab.armor.ARMORMainService"/>


    <!-- Run the architecture's component. -->
    <rosparam param="state/initial_pose"> [0.0,  0.0] </rosparam>
    <rosparam param="config/environment_size"> [10.0, 10.0] </rosparam>

    <rosparam param="test/random_plan_points"> [2, 8] </rosparam>
    <rosparam param="test/random_plan_time"> [0.2, 0.8] </rosparam>
    <rosparam param="test/random_motion_time"> [0.1, 1.0] </rosparam>

    <node pkg = "Assignment_1"  
          type = "behavior.py"      
          name = "behavior"  
          launch-prefix = "xterm -fa 'Monospace' -fs 10 -e"
    > </node>

    <node pkg = "Assignment_1"  
          type = "robot_states.py" 
          name = "robot-state"
    > </node>
    
    <node pkg = "arch_skeleton"  
          type = "planner.py"
          name = "planner"
    > </node>
    
    <node pkg = "arch_skeleton"  
          type = "controller.py"
          name = "controller"
    > </node>
</launch>